<nav class="navbar">
    <div class="padding-global">
        <div class="container-full">
            <div class="navbar_component">
                <a aria-current="page" class="navbar_logo-wrap w-inline-block w--current" href="/">
                    <img alt="" class="navbar_logo" loading="lazy" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/6875f847e7e85a8c9cb67a19_lebo%20white.svg" />
                </a>
                <div class="navbar_links">
                    <a aria-current="page" class="underline-link w--current" href="/">
                        HOME
                    </a>
                    <a class="underline-link" href="/gallery">
                        GALLERY
                    </a>
                    <a class="underline-link" href="/contact">
                        CONTACT
                    </a>
                </div>
                <div class="navbar_hamburger-wrap" data-w-id="5b85ef83-ba95-838b-cd9f-57a80d00940d">
                    <div class="navbar_hamburger">
                        <div class="navbar_hamburger-line _1">
                        </div>
                        <div class="navbar_hamburger-line _2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
