<header>
    <nav class="container">
        <a href="/" class="logo">
            <img src="/assets/Logo.svg" alt="Photography Studio Logo" class="logo-img">
        </a>
        <ul class="nav-menu">
            <li><a href="/portfolio" {{PORTFOLIO_ACTIVE}}>Portfolio</a></li>
            <li><a href="/about" {{ABOUT_ACTIVE}}>About</a></li>
            <li><a href="/contact" {{CONTACT_ACTIVE}}>Contact</a></li>
        </ul>
    </nav>
</header>