<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV"/>
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Lebo.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<modules>
				<remove name="WebDAVModule"/>
			</modules>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 307A4770-2B0C-403D-B86A-55CB83E75F52-->