@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <section class="section_contact">
        <div class="padding-section-medium is-mobile-big"></div>
        <div class="padding-global">
            <div class="container-small">
                <div class="contact_component">
                    <h1 class="heading-style-h3">Contact</h1>
                    <div class="spacer-large"></div>
                    <div class="contact-form_component">
                        <div class="contact-form_form-block w-form">
                            <form id="wf-form-Contact-form" name="wf-form-Contact-form" data-name="Contact form" method="get"
                                  class="contact-form_form" data-wf-page-id="686ed6946d8d058c103c1e80"
                                  data-wf-element-id="0e489e4a-2771-0f11-3d38-6b2c113c2738" aria-label="Contact form">
                                <div class="contact-form_grid">
                                    <div id="w-node-_0e489e4a-2771-0f11-3d38-6b2c113c273a-103c1e80"
                                         class="contact-form_input border-right">
                                        <div class="contact-form_label-wrap">
                                            <label for="name"
                                                   class="contact-form_field-label">Name</label>
                                        </div><input class="contact-form_field w-input"
                                                     maxlength="256" name="name" data-name="Name" placeholder="" type="text" id="name" required="">
                                    </div>
                                    <div id="w-node-_0e489e4a-2771-0f11-3d38-6b2c113c273f-103c1e80" class="contact-form_input">
                                        <div class="contact-form_label-wrap">
                                            <label for="name" class="contact-form_field-label">
                                                Email
                                                Address
                                            </label>
                                        </div><input class="contact-form_field w-input" maxlength="256" name="Email"
                                                     data-name="Email" placeholder="" type="email" id="Email" required="">
                                    </div>
                                    <div id="w-node-_0e489e4a-2771-0f11-3d38-6b2c113c2744-103c1e80" class="contact-form_input">
                                        <div class="contact-form_label-wrap">
                                            <label for="name"
                                                   class="contact-form_field-label">Message</label>
                                        </div><textarea id="Message" name="Message"
                                                        maxlength="5000" data-name="Message" placeholder="" required=""
                                                        class="contact-form_field is-message w-input"></textarea>
                                    </div>
                                </div>
                                <div class="contact-form_actions">
                                    <label class="w-checkbox contact-form_checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom contact-form_checkbox-check">
                                        </div><input type="checkbox" name="checkbox" id="checkbox" data-name="Checkbox"
                                                     style="opacity:0;position:absolute;z-index:-1"><span class="contact-form_checkbox-label w-form-label" for="checkbox">
                                            I would like to receive product
                                            and services offerings.
                                        </span>
                                    </label><input type="submit" data-wait="Please wait..." class="button hover w-button" value="Send">
                                </div>
                            </form>
                            <div class="contact-form_success-wrap w-form-done" tabindex="-1" role="region"
                                 aria-label="Contact form success">
                                <div class="contact-form_success">
                                    <div class="heading-style-h5-2">Thank you.</div>
                                    <div>Your submission has been received!</div>
                                </div>
                            </div>
                            <div class="contact-form_error-wrap w-form-fail" tabindex="-1" role="region"
                                 aria-label="Contact form failure">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-section-large"></div>
    </section>
</main>