@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <section class="section_home-hero">
        <img alt="" 
            class="img_hero" 
            loading="eager" 
            sizes="(max-width: 3281px) 100vw, 3281px" 
        src="./Home_files/686ed7d732898887a9fcbf1c_+971553094460.zip - 2.webp" 
        srcset="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-500.webp 500w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-800.webp 800w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-1080.webp 1080w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-1600.webp 1600w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-2000.webp 2000w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-2600.webp 2600w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202-p-3200.webp 3200w, 
                https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/686ed7d732898887a9fcbf1c_%2B971553094460.zip%20-%202.webp 3281w" />
    </section>
    <section class="section_marquee">
        <div class="padding-section-medium">
            <div class="container-large">
                <div class="marquee">
                    <div class="w-embed">
                    </div>
                    <div class="marquee-content scroll reverse">
                        <img width="141"
                             height="59"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a3825_Untitled%20design%20-%2010.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a3822_Services.png.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a381f_Vector.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011548a1065279db9c4_4156A4CE-7D70-4FE9-B9FD-F819AB0E21FE.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011ae1b3190ab85b78e_Shave.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011e8b6e4e914b21f87_PHOTO-2025-06-28-20-33-21%203.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011db5438a0039894b1_barn%20logo.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011faf9104dc6128a8d_image%202.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/687690114937d83913abc028_Himiko.webp"
                             loading="eager"
                             class="marquee-image" />
                        <img width="216"
                             height="52"
                             alt=""
                             src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/687690114eebe022f3f257f7_Screenshot%202025-07-10%20at%202.33.34%20AM.webp"
                             loading="eager"
                             class="marquee-image" />
                    </div>

                    <div class="marquee-content scroll reverse">
                        <img width="141" height="59" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a3825_Untitled%20design%20-%2010.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a3822_Services.png.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769014d922d3db529a381f_Vector.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011548a1065279db9c4_4156A4CE-7D70-4FE9-B9FD-F819AB0E21FE.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011ae1b3190ab85b78e_Shave.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011e8b6e4e914b21f87_PHOTO-2025-06-28-20-33-21%203.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011db5438a0039894b1_barn%20logo.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/68769011faf9104dc6128a8d_image%202.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/687690114937d83913abc028_Himiko.webp" loading="eager" class="marquee-image">
                        <img width="216" height="52" alt="" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/687690114eebe022f3f257f7_Screenshot%202025-07-10%20at%202.33.34%20AM.webp" loading="eager" class="marquee-image">
                    </div>

                    <div class="marquee_overlay">
                    </div>
                    <div class="marquee_overlay is-right">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_about">
        <div class="padding-section-large">
            <div class="padding-global">
                <div class="container-large">
                    <div class="about_component">
                        <div class="scroll_into-view">
                            <img class="image" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/6875f09d9b754e8136423188_bojana.webp" alt="" sizes="(max-width: 1066px) 100vw, 1066px" data-w-id="373c0485-b465-492d-b872-441474dda898" loading="lazy" srcset="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/6875f09d9b754e8136423188_bojana-p-500.webp 500w, https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/6875f09d9b754e8136423188_bojana-p-800.webp 800w, https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28/6875f09d9b754e8136423188_bojana.webp 1066w">
                        </div>
                        <div class="about_content">
                            <h1 class="serif">
                                About me
                            </h1>
                            <div class="heading-style-h3">
                                I'm
                                <span>
                                    Bojana Lemic
                                </span>
                                , a professional photographer with a business and marketing degree
                            </div>
                            <div class="wrapper">
                                <h1 class="heading-style-h3 serif">
                                    Skills
                                </h1>
                                <div class="spacer-medium">
                                </div>
                                <div class="skill_wrapper">
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Photography Direction &amp; Execution
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Studio &amp; Natural Light Mastery
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Adobe Lightroom (Advanced Retouching &amp; Color Grading)
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Adobe Premiere Pro (Reels &amp; Short-Form Video Editing)
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Adobe Illustrator (Design &amp; Branding Assets)
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Creative Direction &amp; Concept Development
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Social Media Content Strategy
                                        </div>
                                    </div>
                                    <div class="skill_item">
                                        <div class="dot">
                                        </div>
                                        <div class="heading-style-h4">
                                            Client Collaboration &amp; Project Management
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="padding-section-medium">
            <div class="padding-global">
                <div class="container-large">
                    <div class="div-block">
                        <h2 class="serif">
                            PHOTOGRAPHY
                        </h2>
                        <div class="spacer-large">
                        </div>
                        <div class="service_tag-wrapper">
                            <div class="text-service-tag">
                                Food&amp;beverage
                            </div>
                            <div class="text-service-tag">
                                Commercial
                            </div>
                            <div class="text-service-tag">
                                Lifestyle
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="text-size-large">
                                My photography style blends editorial precision with authentic storytelling. I specialize in:
                            </div>
                            <div class="text-size-large">
                                Each shoot is tailored to the client's needs- from location scouting to post production to ensure a seamless, impactful experience.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_services">
        <div class="padding-section-large">
            <div class="padding-global">
                <div class="container-large">
                    <div class="services_component">
                        <div class="service_video">
                            <div class="background-video w-background-video w-background-video-atom" data-autoplay="true" data-loop="true" data-poster-url="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-transcode.mp4,https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-transcode.webm" data-wf-ignore="true">
                                <video 
                                muted
                                playsinline
                                autoplay
                                loop
                                data-object-fit="cover" 
                                data-wf-ignore="true" 
                                id="306ba128-01f1-c512-ca6f-5addf2385fd9-video" 
                                style='background-image:url("https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-poster-00001.jpg")'>
                                    <source data-wf-ignore="true" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-transcode.mp4" />
                                    <source data-wf-ignore="true" src="https://cdn.prod.website-files.com/686ed6946d8d058c103c1e28%2F68769215ee5a2a209baf4fab_violetwhitelogo-transcode.webm" />
                                </video>
                            </div>
                        </div>
                        <div class="service_item">
                            <div>
                                <div>
                                    <div class="heading-style-h3 serif">
                                        VIDEOGRAPHY
                                    </div>
                                </div>
                                <div class="spacer-small">
                                </div>
                                <p class="text-size-large">
                                    I create high quality, short-form video content tailored for social media platforms, especially Instagram Reels and TikTok.
                                </p>
                            </div>
                            <div>
                                <div>
                                    <div class="heading-style-h3 serif">
                                        BRANDING &amp; CONTENT CREATION
                                    </div>
                                </div>
                                <div class="spacer-small">
                                </div>
                                <p class="text-size-large">
                                    Helping brands grow their online presence through curated content strategies and visual storytelling, by aligning photography, reels, and brand aesthetics.
                                </p>
                            </div>
                            <div>
                                <div>
                                    <div class="heading-style-h3 serif">
                                        DESIGN &amp; VISUAL IDENTITY
                                    </div>
                                </div>
                                <div class="spacer-small">
                                </div>
                                <p class="text-size-large">
                                    Creating supporting assets such as mood boards, style guides, and branding elements.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_gallery-cta">
        <div class="padding-section-medium">
            <div class="padding-global">
                <div class="container-large">
                    <div class="home-cta_component">
                        <a class="button w-inline-block" data-w-id="79409e17-dc91-56e1-5b9b-4c56398b0418" href="https://www.lebovisuals.com/gallery" style="color: rgb(255, 255, 255);">
                            <div class="button-text" data-w-id="79409e17-dc91-56e1-5b9b-4c56398b0419" style="filter: blur(0px);">
                                VIEW GALLERY
                            </div>
                            <div class="button-hover-bg" data-w-id="79409e17-dc91-56e1-5b9b-4c56398b041b" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections_home-footer">
        <footer class="section_home-cta">
            <div class="padding-global">
                <div class="home-cta_component">
                    <div>
                        For business inquiries
                    </div>
                    <a class="button w-inline-block" data-w-id="6547d0a6-2fbb-4401-0e6d-dfbebc54424d" href="https://www.lebovisuals.com/contact" style="color: rgb(255, 255, 255);">
                        <div class="button-text" data-w-id="6547d0a6-2fbb-4401-0e6d-dfbebc54424e" style="filter: blur(0px);">
                            Get in touch
                        </div>
                        <div class="button-hover-bg" data-w-id="6547d0a6-2fbb-4401-0e6d-dfbebc544250" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </section>
</main>
